@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
body{
    background: url("pattern-background-desktop.svg") no-repeat;
    background-color: aliceblue;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
/******************** card start here **************************/
main{
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    width: 375px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin-bottom: 20px;
}

main img {
    border-radius: 10px 10px 0 0;
}

.content{
    display: flex;
    flex-flow: column;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    font-size: 1.5rem;
}

.content  h1+p{
    font-weight: 200;
    color:hsl(224, 23%, 55%);
    line-height: 1.5rem;
    font-size: 0.875rem;
    width: 100%;
}

.payment{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 1.25rem;
    background-color:hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 20px 15px;  
}

.plan{
    display: flex;
    flex-flow: column nowrap; 
    justify-content: space-between;
    align-content:space-between ;
    margin-right:50px;
    white-space: nowrap;
}

.payment img{
    margin-right: 20px;
}

.plan p {margin: 0px }

.plan p:nth-of-type(1) {
     font-family: 'Poppins',sans-serif;
     color: hsl(223, 47%, 23%);
}

.plan p:nth-of-type(2) {
    color:hsl(224, 23%, 55%);
}

 button{
    display: block;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    padding: 10px 30%;
    color: #fff;
    white-space: nowrap;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 20px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

a{
    color: hsl(245, 75%, 52%);
    cursor: pointer;
}

button+a{
    font-family: 'Poppins',sans-serif;
    color:hsl(224, 23%, 55%);
    text-decoration: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color:  hsl(245, 75%, 52%); text-decoration: none;}
